<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net471" />
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net471" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net471" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net471" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="StringTemplate4" version="4.0.8" targetFramework="net471" />
</packages>