<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net471" />
  <package id="net.sf.mpxj-common" version="7.4.0" targetFramework="net471" />
  <package id="net.sf.mpxj-for-csharp" version="7.4.0" targetFramework="net471" />
  <package id="net.sf.mpxj-ikvm" version="7.4.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
</packages>